<!-- Header -->

    <header>
  <!-- Nav Bar -->
    <nav id="navbar" class="navbar navbar-light bg-white navbar-expand-sm fixed-top">
    <div class="container">
      
      <!-- Navbar Toogle -->
      <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav ml-auto flex-nowrap">
          <!-- About -->
          <li class="nav-item active">
            <a class="nav-link" href="/">
              About
              
                <span class="sr-only">(current)</span>
              
            </a>
          </li>
          <!-- Other pages -->
          
          
          
          
          <li class="nav-item ">
              <a class="nav-link" href="https://drive.google.com/file/d/1Ldqv0-L_dGTgaCRe93mUkp0lyLAUQhNt/view">
                CV
         
              </a>
          </li>      
          
          
          
          
            <li class="nav-item ">
              <a class="nav-link" href="/experience.html">
                Experience
                
              </a>
          </li>   
          
           
          
          
          
          
        </ul>
      </div>
    </div>
  </nav>

</header>
